.navbar-container {
  background-color: transparent;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-around;
  padding: 1em 0;
}
.logo {
  height: 40px;
}
.menu-options {
  margin: 1em 1em;
  color: rgb(158, 158, 158);
  cursor: pointer;
}
.menu-options:hover {
  color: #fff;
}
.login-btn {
  background-color: rgb(39, 39, 196);
  padding: 0.5em 2em;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-btn:hover {
  background-color: rgb(3, 3, 184);
}
.desktop-view-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portrait-view-menu {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  background-color: rgba(0, 0, 0, 1);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}
.container {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 5%;
  top: 2.5%;
}
.show-menu {
  visibility: visible;
}
.hide-menu {
  visibility: hidden;
}
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  transition: 0.4s;
}
.change {
  z-index: 1002;
  cursor: pointer;
  position: fixed;
  right: 5%;
  top: 2.5%;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

@media only screen and (max-width: 700px) {
  .logo {
    height: 20px;
    align-self: flex-start;
  }
}
