.welcome-desktop-view {
  display: flex;
  ::placeholder {
    color: rgb(146, 146, 146);
    font-weight: 100;
  }
}
.welcome-portrait-view {
  display: flex;
  flex-direction: column;
  ::placeholder {
    color: rgb(146, 146, 146);
    font-weight: 100;
  }
}
.welcome-left-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.welcome-left-side-container {
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.welcome-heading {
  align-self: flex-start;
  font-size: 3em;
  line-height: 50px;
}
.welcome-description {
  margin-top: 1em;
  font-size: 1.2em;
  align-self: flex-start;
}
.welcome-left-side > div {
  text-align: left;
}
.welcome-right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 80vh;
}
.table-container {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  margin-top: 2em;
}
.table-row {
  display: flex;
}
.table-row > div {
  padding: 1.8em 1.8em;
  width: 100px;
  text-align: center;
}
.table-1-1 {
  border: 1px solid #fff;
  border-top-left-radius: 15px;
}
.table-1-2 {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.table-1-3 {
  border: 1px solid #fff;
  border-top-right-radius: 15px;
}

.table-2-1 {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-bottom-left-radius: 15px;
}
.table-2-2 {
  border-bottom: 1px solid #fff;
}
.table-2-3 {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-bottom-right-radius: 15px;
}
.welcome-ethereum-card {
  height: 180px;
  width: 280px;
  background-color: #f907fc;
  background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.welcome-ethereum-card-bottom {
  margin: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
}
.welcome-ethereum-card-bottom > div {
  padding: 0.3em 0.3em;
  color: #fff;
}
.welcome-ethereum-card-label {
  font-weight: bold;
}
.welcome-ethereum-logo-container {
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: inset 1px 1px 4px grey;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #fff;
}
.welcome-ethereum-logo {
  height: 30px;
}
.welcome-ethereum-top {
  display: flex;
  justify-content: space-between;
}
.welcome-ethereum-card-info-container {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 0.6em;
  color: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
}
.welcome-form-fields {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 55%;
  background-color: #42427e;
  padding: 0.5em 1em;
  border-radius: 10px;
  box-shadow: 0px 1px 4px #1d1d38;
}
.input-field {
  height: 35px;
  background: #525297;
  border: none;
  outline: none;
  padding: 0 1em;
  border-radius: 5px;
  color: #fff;
  margin: 0.5em 0;
}
.collect-wallet-button {
  margin-top: 1em;
  background-color: rgb(39, 39, 196);
  padding: 0.5em 2em;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
.collect-wallet-text {
  margin-top: 1em 0;
  padding: 0.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  color: rgb(4, 255, 4);
}
.collect-wallet-button:hover {
  background-color: rgb(3, 3, 184);
}
.submit-button {
  background: transparent;
  border-radius: 50px;
  padding: 0.5em;
  border: 1px solid #fff;
  margin-top: 1em;
  color: #fff;
  cursor: pointer;
  font-weight: normal;
}
.submit-button:hover {
  background-color: #525297;
  transition: ease-in 0.1s;
  color: #fff;
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  .welcome-portrait-view {
    font-size: 0.7em;
    padding-bottom: 3em;
  }
  .welcome-left-side {
    justify-content: center;
  }
  .welcome-right-side {
    justify-content: flex-start;
    margin-top: 2em;
  }
  .welcome-heading {
    align-self: center;
  }
  .welcome-description {
    align-self: center;
    width: fit-content;
    padding: 1em;
  }
  .table-row > div {
    width: 50px;
  }
  .collect-wallet-button,
  .collect-wallet-text {
    align-self: center;
  }
}

@media only screen and (min-width: 480px) and (max-width: 900px) {
  .welcome-portrait-view {
    font-size: 0.8em;
    padding-bottom: 3em;
  }
  .welcome-left-side {
    justify-content: center;
  }
  .welcome-right-side {
    justify-content: flex-start;
    margin-top: 2em;
  }
  .welcome-heading {
    align-self: center;
  }
  .welcome-description {
    align-self: center;
    width: fit-content;
    margin-left: 0em;
  }
  .table-row > div {
    width: 50px;
  }
  .collect-wallet-button,
  .collect-wallet-text {
    align-self: center;
  }
}
